     <!-- Product section-->
     <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0 w-50" [src]="viewBook.image" alt="{{viewBook.title}}" /></div>
                <div class="col-md-6">
                    <div style="color: white;" class="small mb-1">ID:{{viewBook.id}}</div>
                    <h1 style="color: white;" class="display-5 fw-bolder">{{viewBook.title}}</h1>
                    <div class="fs-5 mb-5">
                        <span style="color: white;">&#8377;{{viewBook.price}}</span>
                    </div>
                    <p style="text-align: justify; color: white;" class="lead "><b>Product Features: <br> </b>
                        {{viewBook.Description}}</p>
                        <p style="color: white;">Rating: <i class="fa-solid fa-star text-warning"></i>{{viewBook.rating}}</p>
                    <div class="d-flex">
                        <button (click)="addtowishlist(viewBook)" class="btn btn-outline-danger flex-shrink-0 " type="button">
                            <i  class="bi-cart-fill me-1"></i>
                            Add to Wishlist
                        </button>
                        <button (click)="addToCart(viewBook)" class="btn btn-outline-warning flex-shrink-0 ms-4" type="button">
                            <i class="bi-cart-fill me-1"></i>
                            Add to cart
                        </button>
                       
                    </div>
                </div>
            </div>
        </div>
    </section>